.container {
  display: flex;
  justify-content: center;
  align-items: center;

  background: dodgerblue;
  border: 4px solid midnightblue;
  width: 400px;
  height: 300px;
}

.box {
  background: palevioletred;
  font-weight: bold;
  text-align: center;
  border: 6px solid maroon;
  width: 80px;
  height: 80px;

  /* margin: auto; */
  /*Setting the margin to auto both vertically and horizontally is another way to center a flex item within a flex container*/

}